<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
    <shiro:hasPermission name="user:query">
        <h1><a href="/user/query">查询用户</a></h1>
    </shiro:hasPermission>
    <shiro:hasPermission name="user:add">
    <h1><a href="/user/add">添加用户</a></h1>
    </shiro:hasPermission>
    <shiro:hasPermission name="user:update">
    <h1><a href="/user/update">修改用户</a></h1>
    </shiro:hasPermission>
    <shiro:hasPermission name="user:delete">
    <h1><a href="/user/delete">删除用户</a></h1>
    </shiro:hasPermission>
    <shiro:hasPermission name="user:export">
    <h1><a href="user/export">导出用户</a></h1>
    </shiro:hasPermission>
</body>
</html>